/*******
COLOR CHEAT SHEET
https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28-432534-183a37
fffcf2 - cream
ccc5b9 - grey
403d39 - charcoal brown
252422 - black
eb5e28 - orange
432534 - purple
183a37 - green


*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div {
     font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     font-family: "Bebas Neue", sans-serif;
}

/************************/
/********* HERO *********/
/************************/

header.masthead {
    background: url("https://middermusic.com/wp-content/uploads/2022/10/90s-rock-bands.jpg");
    background-size: cover;
    background-position: center center;
}

.masthead h1 {
    color: #432534;
    text-shadow: 2px 2px 5px #252422;
    font-size: 72px !important;
}

.masthead p {
    color: #fffcf2;
    font-weight: 900;
    text-shadow: 1px 1px 2px #403d39;
    font-size: 2em !important;
}

/*************************/
/****** PORTFOLIO ********/
/*************************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
	font-size: 2rem;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
	background: #183a37b3;
}

/************************/
/********* HERO *********/
/************************/
.text-primary {
    color: #403d39 !important;
}

.bg-primary {
    background-color: #403d39 !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #183a37;
    --bs-btn-border-color: #183a37;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #183a3794;
    --bs-btn-hover-border-color: #183a3794;
    --bs-btn-focus-shadow-rgb: 246, 122, 88;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #183a37;
    --bs-btn-active-border-color: #183a37;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
